<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
              integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
              crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
                integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
                integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
                crossorigin="anonymous"></script>
        <title>Home Page</title>

        <style>
            input[type="checkbox"][readonly] {
                pointer-events: none;
            }
        </style>
    </head>
    <body>
        <p class="h1" th:text="${appName}"></p>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"> Device Id </th>
                        <th scope="col"> Customer Id </th>
                        <th scope="col"> Temporary mapping </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:if="${pairings.empty}">
                        <td colspan="3"> No Pairings Available </td>
                    </tr>
                    <tr th:each="pairing : ${pairings}">
                        <td th:text="${pairing.deviceId}"></td>
                        <td th:text="${pairing.customerId}"></td>
                        <td>
                            <input type="checkbox" th:checked="${pairing.temporary}" value="1" readonly/>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
